#pokemon-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: column;
}

#pokemon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.pokemon-card {
    padding: 10px;
    display: inline-block;
    text-align: center;
    height: 300px;
    width: 200px;
}

#pagination {
    position: fixed;
    display: flex;
    bottom: 4px;
    justify-content: center;
    align-items: center;
    gap: 1em;
}