<div class="container-drawer">
  <div class="drawer-overlay hide-element" id="drawer-overlay" tabindex="-1"></div>
  <div class="drawer" id="drawer" role="dialog" aria-hidden="true">
    <div class="footer drawer-content" id="drawer-content">
      <button class="close-drawer" id="close-drawer-btn" aria-label="Cerrar menú">&times;</button>
      <div class="content has-text-centered">
        <!-- Créditos para uso de iconos -->
        <p>
          <span class="icon">
            <i class="fa-solid fa-icons"></i>
          </span>
          <a href="https://www.flaticon.es/iconos-gratis/pokemon" target="_blank" title="pokemon iconos"
            class="has-text-primary">
            Pokemon iconos creados por Freepik - Flaticon
          </a>
        </p>
        <!-- Redes Sociales -->
        <div class="social-icons">
          <a href="https://github.com/diazEmanuel21" target="_blank" class="icon is-medium has-text-white"
            title="GitHub">
            <i class="fa-brands fa-github"></i>
          </a>
          <a href="https://www.instagram.com/_manu.diaz___?igsh=ZHRnZzM4a3N4N3ly" target="_blank"
            class="icon is-medium has-text-white" title="Instagram">
            <i class="fa-brands fa-instagram"></i>
          </a>
          <a href="https://www.linkedin.com/in/emanuel-diaz-villa-38b766215/" target="_blank"
            class="icon is-medium has-text-white" title="LinkedIn">
            <i class="fa-brands fa-linkedin"></i>
          </a>
        </div>
        <!-- Desarrollado por -->
        <p>
          <span class="icon">
            <i class="fa-solid fa-code"></i>
          </span>
          <strong>API-APP</strong> by
          <a href="https://github.com/diazEmanuel21" target="_blank" class="has-text-primary">Emanuel Diaz</a>.
        </p>
        <!-- Licencia de Bulma -->
        <p>
          <span class="icon">
            <i class="fa-solid fa-bolt"></i>
          </span>
          <strong>Bulma</strong> by
          <a href="https://jgthms.com" target="_blank" class="has-text-primary">Jeremy Thomas</a>.
          The source code is licensed under
          <a href="https://opensource.org/license/mit" target="_blank" class="has-text-primary">MIT</a>.
          The website content is licensed
          <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" class="has-text-primary">CC BY
            NC
            SA
            4.0</a>.
        </p>
      </div>
    </div>
  </div>
</div>