.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    padding: 1em;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    height: 200px;
    max-height: 200px;
}

.card > .buttons {
    justify-content: center;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 20px;
    font-size: 1rem;
}