#anime-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: column;
}

#anime-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.anime-card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    width: 266px;
    height: 480px;
}

.anime-card:hover {
    transform: translateY(-5px);
}

.anime-card img {
    width: 265px;
    height: 375px;
    object-fit: cover;
}

.anime-card .info {
    padding: 10px;
    text-align: center;
}

.anime-card .info h2 {
    font-size: 1rem;
    color: #222;
}

.anime-card .info p {
    margin-top: 5px;
    font-size: 0.9rem;
    color: #555;
}

#pagination {
    position: fixed;
    display: flex;
    bottom: 4px;
    justify-content: center;
    align-items: center;
    gap: 1em;
}