#nav-container {
    position: fixed;
    top: 0;
    width: 100%;
}

#nav-container>.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 1em;
}

#navbarMenu.navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 45px;
}

.navbar-start {
    flex: 1;
}

#navbarMenu.navbar-menu>.navbar-start>.container-items {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 1em;
}

#nav-router-items>a {
    display: flex;
    align-items: center;
}

.navbar-brand {
    display: flex;
    align-items: center !important;
}

.button.is-primary {
    height: 100%;
}

.button.is-primary>i {
    display: none;
}

.button.is-primary>p {
    display: block;
}

.bd-nav-item {
    align-items: center;
    border-radius: 0.5em;
    color: var(--bulma-text-strong);
    display: flex;
    gap: 0.5em;
    padding: 0.75em 1em;
    text-decoration: none;
    /* transition: background-color 0.3s, color 0.3s; */
    transition-duration: var(--bulma-duration);
    transition-property: background-color, border-color, color;
}

.bd-theme-home:hover {
    background-color: hsla(191, 79%, 46%, 0.2);
}

.bd-theme-anime:hover {
    background-color: hsla(64, 61%, 90%, 0.2);
}

.bd-theme-pokemon:hover {
    background-color: hsla(0, 61%, 90%, 0.2);
}

.navbar-burger {
    color: #abb1bf !important;
    margin: 0 !important;
}

.show-element {
    display: block;
}

.hide-element {
    display: none;
}

#container-nav-elements>a {
    display: flex;
    align-items: center;
}

.menu-burger-container {
    display: flex;
    flex: 1;
    overflow: hidden;
    padding: 1em;
    flex-direction: column;
    background-color: #14161A;
    height: 100%;
}

/* Responsive nav */
@media (max-width: 820px) {

    #nav-container>.navbar {
        justify-content: space-between;
    }

    .navbar-start {
        display: none !important;
    }

    .button.is-primary>i {
        display: block;
    }

    .button.is-primary>p {
        display: none;
    }
}

@media (max-width: 500px) {

    .navbar-brand>img {
        height: 30px;
        width: 50px;
    }

}

/* Overlay */
.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
    transition: opacity 0.3s ease;
}

.menu-overlay.show {
    display: block;
    opacity: 1;
}

.menu-overlay.hide-element {
    opacity: 0;
}

/* Menú como drawer */
#aside-menu {
    position: fixed;
    top: 0;
    right: 0; /* Inicialmente está fuera de la vista */
    height: 100vh;
    width: 300px;
    background-color: #14161A;
    z-index: 1000;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    transform: translateX(100%); /* Fuera de la vista */
    transition: transform 0.3s ease-in-out;
}

#aside-menu.show {
    transform: translateX(0); /* Desliza hacia adentro */
}

.animate__slideInRight {
    animation: slideInRight 0.3s ease forwards;
}

.animate__slideOutRight {
    animation: slideOutRight 0.3s ease forwards;
}

/* Animaciones personalizadas */
@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOutRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}
