/* Scrollbar */
body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: #000;
}

body::-webkit-scrollbar-thumb {
    background: #00D1B2;
    border-radius: 10px;
    transition: background 0.3s;
}
/* End Scrollbar */

/* Generic sections */
#root {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}