/* Scrollbar */
body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: #000;
}

body::-webkit-scrollbar-thumb {
    background: #00D1B2;
    border-radius: 10px;
    transition: background 0.3s;
}
/* End Scrollbar */

/* Header */
#nav-container {
    background-color: #14161A;
    z-index: 1031;
}

#root {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 6em;
    margin-bottom: 4em;
    min-height: 85vh;
    justify-content: center;
    align-items: center;
}
/* Generic sections */